<div class="container-fluid">
  <div class="row">
    <div class="span1"></div>
    <div class="span7 offset1">
      <div class="widget-box">
        <div class="widget-title">
          <span class="icon">
            <i class="icon-user"></i>
          </span>
          <h5><%= @user.full_name %></h5>
        </div>
        <%= render :partial => 'user/profiles/profile' %>
        <div class="widget-content">
          <div class='span8 offset2' style="margin-top: -24px;">
            <%= link_to 'Back', root_path, :class => 'btn btn-inverse' %>  
          </div>
        </div>
      </div>
    </div>
    <div class="span3"></div>
  </div>
</div>

