<% content_for :header do %>
  <h1>Dashboard</h1>
     <div class='row'>
      <div class="span4"></div>
      
    </div>
<% end %>

<% content_for :breadcrumb do %>
  <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
  <a href="#" class="current">Dashboard</a>
<% end %>

<div class="container-fluid">
  
</div>

<div class="row-fluid">
  <div id="footer" class="span12">
    @2013 &copy; Blog-Comments
  </div>
</div>
